@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Bree Serif";
  color: white;
}
.bgcontainer {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
}

button {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
}
.like {
  color: white;
  background-color: #eab308;
}

.share {
  color: white;
  background-color: #1d4ed8;
}
