body {
  margin: 0;
  padding: 0;
}

.bgcontainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 20px;
  margin: 0 10px;
}
.card {
  padding: 20px;
  margin-bottom: 30px;
  color: white;
  border: 1px solid black;
  width: 400px;
  display: flex;
  align-items: center;
  border: none;
}

.card1 {
  background-color: #0b69ff;
}
.card2 {
  background-color: #2dca73;
}
.card3 {
  background-color: #ffb800;
}
.card4 {
  background-color: #ff0b37;
}
