body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.light-mode {
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
button {
  margin: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
}
